/* start varibales */
:root {
    --main-color: #fa5c58;
    --main-padding: 50px;
}
/* end varibales */
/* start commponent */
.main-heading {
    margin-bottom: var(--main-padding);
}
.main-heading h4 {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 15px;
}
.main-heading p {
    text-align: center;
    width: 70%;
    font-size: 10px;
    margin: 0 auto;
    color: #777;
    text-transform: uppercase;
    line-height: 1.7;
    letter-spacing: 0.8px;
}
@media (max-width: 767px){
    .main-heading p {
        width: 90%;
    }
}
/* start commponent */
/* start global rulse */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    /* google font */
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* unorder list style */
ul {
    list-style: none;
}

/* small screen */
@media (min-width: 768px) {
    .contener {
        width: 750px;
    }
}

/* small screen */
@media (min-width: 992px) {
    .contener {
        width: 950px;
    }
}

/* small screen */
@media (min-width: 1200px) {
    .contener {
        width: 1170px;
    }
}

.contener {
    padding: 0 15px;
    margin: 0 auto;
}

/* End global rulse */
/* start header */
.header {
    background-color: white;
    height: 60px;
}
.header .contener {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.header .contener img{
    width: 100px;
    position: relative;
    left: -7px;
}
.header .contener nav ul li {
    display: inline-block;
    margin: 10px;
}
@media (max-width: 991px){
    .header .contener nav ul li {
        margin: 2px;
    }
}
.header .contener nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
}
.header .contener nav ul li a.active{
    border: 1px solid tomato;
}
.header .contener nav i {
    display: none;
}
@media (max-width: 767px){
    .header .contener nav ul {
        display: none;
    }
    .header .contener nav i {
        display: flex;
        font-size: 20px;
        margin-right: 16px;
    }
    .header .contener nav i:hover + ul {
        z-index: 4;
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: #252525a2;
    }
    .header .contener nav ul li a {
        color: white;
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    .header .contener nav ul li a.active {
        border: none;
        width: 120px;
        border-bottom: 2px solid var(--main-color);
    }
}
/* end header */
/* start lading */
.lading {
    background-image: url(../images/landing-image.jpg);
    background-size: cover;
    height: calc(100vh - 60px);
    position: relative;
}
.lading::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #0000003f;
}
.lading .contener {
    position: absolute;
    text-align: center;
    color: white;
    top: 60%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.lading .contener p {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
}
.lading .contener h1 {
    font-size: 50px;
    margin: 7px;
    text-transform: uppercase;
    font-weight: 500;
}
.lading .contener a {
    display: inline-block;
    margin: 50px 0;
    padding: 15px 50px;
    text-transform: uppercase;
    background-color: var(--main-color);
    text-decoration: none;
    color: white;
}
/* end lading */
/* start design */
.design {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    overflow: hidden;
}
@media (min-width: 992px) {
    .design {
        height: 510px;
        padding-bottom: 0;
    }
}
.design .contener .contnet{
    display: flex;
}
@media (max-width: 767px) {
    .design .contener .contnet{
        flex-direction: column;
    }
}
.design .contener .contnet img {
    margin: 0 40px;
    position: relative;
    width: 25%;
    top: -20px;
}
@media (max-width: 992px) {
    .design .contener .contnet img {
        display: none;
    }
}

.design .contener .cont-box.right {
    text-align: end;
}
.design .contener .contnet .cont-box.left {
    text-align: start;
    
}
.design .contener .contnet .cont-box .box {
    display: flex ;
    margin-top: 40px;
}
.design .contener .contnet .cont-box .box .icon {
    position: relative;
    width: 100px;
    height: 100px;
}
.design .contener .contnet .cont-box .box .icon i {
    position: relative;
    color: var(--main-color);
    margin: 30px;
    top:-25px;
}
.design .contener .contnet .cont-box .box .icon i::after{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    z-index: -1;
    background-color: black;
    transform: translate(-50% ,-50%);
    -webkit-transform: translate(-50% ,-50%);
    -moz-transform: translate(-50% ,-50%);
    -ms-transform: translate(-50% ,-50%);
    -o-transform: translate(-50% ,-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.design .contener .contnet .cont-box .box .text {
    text-transform: uppercase;
}
.design .contener .contnet .cont-box .box .text h3{
    font-size: 15px;
}
.design .contener .contnet .cont-box .box .text p {
    font-size: 12px;
    line-height: 1.7;
    margin-top: 12px;
    color: #777;
}
/* end design */
/* start video */
.video{
    background-image: url(../images/video-background.jpg);
    background-position: center;
    background-size: cover;
    padding: 150px 0;
    position: relative;
}
.video .video-holder {
    overflow: hidden;
    height: 350px;
    background-color: black;
    opacity: 80%;
}
.video .video-holder::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #0000007c;
}

.video .video-holder .text {
    /* margin-top: 60px ; */
    opacity: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    color: white;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}
.video .video-holder .text .arrwo {
    opacity: 100%;
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 auto 40px;
    background-color: var(--main-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.video .video-holder .text .arrwo::before{
    content: "";
    position: absolute;
    border: 15px solid;
    border-color: transparent transparent transparent white;
    left: 64%;
    top: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}
.video .video-holder .text h3 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 2px;
}
.video .video-holder .text p {
    letter-spacing: 1px;
    margin-top: 10px;
}
/* end video */
/* start project */
.project{
    padding: var(--main-padding) 3px ;
    text-align: center;
}
.project .contener .catogres {
    margin-bottom: var(--main-padding);
}
.project .contener ul {
    display: flex;
    justify-content: center;
}
.project .contener ul li {
    margin: 5px;
    padding: 5px 20px;
    border: 1px solid #777;
    color: #777;
}
@media (max-width: 767px) {
    .project .contener ul li {
        font-size: 10px;
        padding: 5px 12px;
        margin: 2.5px;
    }
}
.project .contener ul li.active {
    border: none;
    color: white;
    background-color: var(--main-color);
    
}
.project .img-contener {
    display: grid;
    grid-template-columns: repeat(1, minmax(100%, 1fr));
    column-gap: 4px;
}
@media (min-width: 768px) {
    .project .img-contener {
        grid-template-columns: repeat(2, minmax(50%, 1fr));
    }
} 
@media (min-width: 992px) {
    .project .img-contener {
        grid-template-columns: repeat(4, minmax(20%, 1fr));
    }
} 
.project .img-contener .img-box{
    position: relative;
}
.project .img-contener .img-box img {
    max-width: 100%;
}
.project .img-contener .img-box .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
    background-color: #000000b7;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;    
}
.project .img-contener .img-box .caption p {
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-size: 100%;
}
.project .img-contener .img-box .caption p span {
    color: var(--main-color);
}
.project .img-contener .img-box:hover .caption {
    opacity: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.project > p:last-of-type {
    font-size: 30px;
    margin-top: 50px;
}
.project > span {
    margin-top: 25px;
    font-size: 50px;
    position: relative;
    display: block;
}
.project > span::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    background-color: var(--main-color);
    width: 70px;
    height: 70px;
    z-index: -1;
    border-radius: 50%;
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
@media (max-width: 767px) {
    .project > p:last-of-type {
        font-size: 20px;
        margin-top: 20px;
    }
    .project > span {
        font-size: 20px;
        margin-top: 20px;
    }
    .project > span::before {
        width: 46px;
        height: 46px;
    }
}
/* end project */
/* start about */
.about {
    background-image: url(../images/about.jpg);
    background-size: cover;
    padding: var(--main-padding) 0;
}
.about .about-text {
    padding: var(--main-padding);
    background-color: #000000b7;
    color: white;
    width: 40%;
}
@media (max-width: 991px){
    .about .about-text {
        width: 100%;
        text-align: center;
    }
}
.about .about-text h3 {
    margin-bottom: 80px;
    text-transform: uppercase;
}
.about .about-text p {
    line-height: 1.7;
    position: relative;
}
.about .about-text p::before{
    content: "";
    position: absolute;
    width: 30%;
    height: 3px;
    background-color: var(--main-color);
    left: 0;
    top: -30px;
}
@media (max-width: 991px){
    .about .about-text p::before {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
}
 }
.about .about-text button {
    margin-top: 60px;
    background-color: var(--main-color);
    padding: 15px 30px;
    border: none;
    color: white;
}
/* end about */
/* start team */
.team {
    padding: var(--main-padding) 0;
}
.team .contener .content {
    display: flex;
    justify-content: space-between;
}
.team .contener .content .person-info {
    text-align: center;
    width: calc( ( 100% / 3 ) - 10px);
}
@media (max-width: 767px) {
    .team .contener .content {
        flex-direction: column;
    }
    .team .contener .content .person-info {
        width: 100%;
    }
}
.team .contener .content .person-info .img-holder {
    position: relative;
    margin-bottom: 20px;
}
.team .contener .content .person-info .img-holder img {
    max-width: 100%;
}
.team .contener .content .person-info .img-holder .text {
    position: absolute;
    bottom: 0;
    background-color: #000000a4;
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px 20px;
}
.team .contener .content .person-info .img-holder .text p {
    margin-bottom: 10px;
    letter-spacing: 0.4px;
    line-height: 1.5;
}
@media (max-width: 991px) {
    .team .contener .content .person-info .img-holder .text {
        font-size: 10px;
    }
}
@media (max-width: 767px) {
    .team .contener .content .person-info .img-holder .text {
        font-size: 100%;
    }
}
.team .contener .content .person-info .img-holder .text .iconic i {
    margin: 10px;
}
/* end team */
/* start blog */
.blog {
    background-image: url(../images/blog.jpg);
    padding: 100px 0 50px;
    background-size: cover;
    position: relative;
}
.blog::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #00000071;
}
.blog .contener {
    position: relative;
    color: white;
}
.blog .contener .main-heading p {
    color: white;
}
.blog .content {
    margin-top: 100px;
    position: relative;
    display: flex;
}
@media (max-width: 991px) {
    .blog .content {
        flex-direction: column;
        padding: 0 10px;
    }
}
.blog .content .info-box img{
    max-width: 100%;
}
.blog .content .info-box .text{
    padding: 20px;
    background-color: black;
    position: relative;
    bottom: 10px;
}
.blog .content .info-box .text h3{
    color: var(--main-color);
    margin: 30px 0 40px;
    font-weight: normal;
    text-transform: uppercase;
}
.blog .content .info-box .text p {
    font-size: 14px;
    width: 90%;
    color: #adadad;
    line-height: 1.7;
}
.blog .content .info-box .text a {
    text-decoration: none;
    color: var(--main-color);
    display: block;
    margin-top: 20px;
    text-align: end;
    font-size: 14px;
}
.blog button {
    width: 60px;
    height: 60px;
    background-color: var(--main-color);
    margin: 40px auto 0;
    position: relative;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: none;
}
.blog button::before {
    content: "+";
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}
/* end blog */
/* start touch */
.touch {
    padding: var(--main-padding) 0;
}
.touch .contener form {
    display: grid;
    gap: 20px;
}
.touch .contener form *:focus {
    outline: none;
}
@media (min-width: 768px){
    .touch .contener form {
        grid-template-columns: repeat(10, 1fr);
        grid-template-areas:
        "name name name name name name email email email email"
        "subject subject subject subject subject subject subject subject subject subject "
        "message message message message message message message message message message "
        "send send send send send send send send send send "
        ;
    }
    .touch .contener form input:nth-child(1){
        grid-area: name;
    }
    .touch .contener form input:nth-child(2){
        grid-area: email;
    }
    .touch .contener form input:nth-child(3){
        grid-area: subject;
    }
    .touch .contener form input:nth-child(5){
        grid-area: send;
    }
    .touch .contener form textarea {
        grid-area: message;
    }
}
.touch .contener form input:not(input[type="submit"]) {
    background-color: #eee;
    border: none;
    padding: 15px;
}
.touch .contener form textarea {
    height: 200px;
    border: none;
    background-color: #eee;
    padding: 15px;
}
.touch .contener form input[type="submit"]{
    background-color: var(--main-color);
    text-transform: uppercase;
    border: none;
    padding: 10px;
    color: white;
}
.touch .contener .info {
    margin-top: 100px;
    display: flex;
}
.touch .contener .info div {
    text-align: center;
    width: calc( 100% / 3);
}
@media (max-width: 767px) {
    .touch .contener .info {
        flex-direction: column;
        row-gap: 60px;
    }
    .touch .contener .info div {
        width: 100%;
    }
}
.touch .contener .info div i {
    font-size: 30px;
    margin-bottom: 50px;
    position: relative;
    color: white;
}
.touch .contener .info div i::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: var(--main-color);
    left: 50%;
    top: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 50%; 
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* end touch */
/* start footer */
.footer {
    background-color: black;
    padding-top: var(--main-padding);
    color: white;
    text-align: center;
    position: relative;
    bottom: -1px;
}
.footer .contener .icons i {
    margin: 20px 18px;
}
.footer .contener > i{
    margin: 20px 0 20px;
}
/* end footer */
